@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libertinus+Math&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-myPrimary: #A020F0;
  --font-Header: "Abril Fatface", "serif";
  --font-subHeader: "Libertinus Math", "system-ui";
  --animate-imgPulse: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    0%,
    100% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, 20px);
      opacity: 0.9;
    }
  }
}

.effect{
  background: #e0e4e7;
box-shadow:  5px 5px 13px #b8c7dd,
             -5px -5px 13px #ffffff;
}

.effectIns{
  background: #e0e4e7;
box-shadow: inset  5px 2px 2px 0px #c2cad5,
            inset -3px -2px 2px 0px #f7f7f7;
}
.title{
  color: rgba(236, 126, 218, 0.18);
  text-shadow: 1px 1px 2px #e0e4e7, 0 0 0 #000000, 1px 4px 6px #def;
}